.layout {
    width: 100%;
    height: 100vh;
  
    display: grid;
    grid:
      "header header header" auto
      "leftSide body rightSide" 1fr
      "footer footer footer" auto
      / auto 1fr auto;
  }
  
  .header { grid-area: header; }
  .leftSide { grid-area: leftSide; }
  .body { grid-area: body; }
  .rightSide { grid-area: rightSide; }
  .footer { grid-area: footer; }