.date {
    color: #000;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
    margin-left: 10px;
}

.views{
    color: #000;
    font-family: Nunito;
    font-size: 13.76px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
    margin-left: 10px;
}

.card {
    border-radius: 15px;
    background: #DEDBFF;
}

.img {
    border-radius: 15px 15px 0 0;
}

.spacer{
    min-width: 200px;
}
